.custom-link {
    @apply px-3 py-2 rounded ms-5 text-black font-bold hover:underline relative;

    /* Adding the bold font */
    font-weight: bold;
}

.custom-link {
  text-decoration: none;
  transition: color 0.3s ease;
}
